*{
    margin: 0;
    padding: 0;
    font-family: 'Gloria Hallelujah', cursive;

}

.header .content-box  {
    content: url(assets/pexels-photo-273222.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    width: 100%;
  height: auto;
  z-index: 2;
    
}

#heading {
    position: absolute;
    top: 8px;
    left: 16px;
}
#heading1 {
    position: absolute;
    top: 35px;
left: 115px;

}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}

#navigation {
    position: absolute;
  right: 0;
  list-style: none;
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  overflow: hidden;


}

#nav {
    position: relative;
    font-size: 2.1em;
    text-transform: uppercase;
}


ul li {
    list-style: none;


}


.sci {
    position: absolute;
display: flex;   
right: 100px;
  list-style: none;

 
}
.sci a {
    position: relative;
    display: grid;
    place-items: center;
    width: 150px;
    height: 120px;
    text-decoration: none;
}



.banner-text {
    position: absolute;
    margin: auto 0;
    top: 45%;
    left: 50%;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    transform: translate(-50%, -50%);
    color: rgb(30, 8, 107);    

}
.banner-text h2{
    margin-top: 50px;
    font-size: 64px;
}
.banner-text p{
    font-size: 20px;
    margin: 20px 0 50px;
}


.content-box{
    background: #f4f3ff;
    height: 100%;
    width: 100%;

}


#typedOut {
    font-size: 20px;
}

footer { 
    position:relative;
    bottom:0;
    z-index: 3;
    }
    #wrapper {
        position: absolute;
      bottom: 50px;
        animation:pulse 1s infinite;
    }
    
    
    #pulsingheart { 
      position: relative; 
      width: 80px; 
      height: 50px;
    } 
    
    #pulsingheart:before, #pulsingheart:after { 
      position: absolute; 
      content: ""; 
      left: 50px; 
      top: 0; 
      width: 50px; 
      height: 80px; 
      background: #aa0000; 
      border-radius: 50px 50px 0 0; 
      transform: rotate(-45deg);  
      transform-origin: 0 100%;
      animation:pulsecolor 1s infinite;
    } 
    
    #pulsingheart:after { 
      left: 0; 
      transform: rotate(45deg); 
      transform-origin :100% 100%;
      animation:pulsecolor 1s infinite;
    }
    
    @keyframes pulse {
        10% {transform: scale(1.1)}
    }
    
    @keyframes pulsecolor {
      10% {background: #dd0000}
    }
